body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.lista{
  background-color: rgb(241, 144, 144);
}


.formulario{
  background-color: rgb(247, 255, 131);
  padding: 10px;
}


.neg{
  
  padding: 125px;
  margin-top: 35px;

  background-color: rgb(232, 230, 238);

}







/* ----------------- MEDIAQUERY ------------------------- */

/* --------- ENTRE 0 Y 500 px--------------- */


@media (max-width: 500px){
 
  .lista{
        flex-direction: column;
        align-items: center;
        width: 100%;
  }

  .formulario{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }


}
