body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.lista{
  background-color: #7cc0a0;
}


.formulario{
  background-color: #7cc0a0;
  padding: 10px;
}


.neg{
  
  margin-top: 50px;
  padding: 35px;
  background-color: #5fa584;
  color: white;

}







/* ----------------- MEDIAQUERY ------------------------- */

/* --------- ENTRE 0 Y 500 px--------------- */


@media (max-width: 500px){

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    margin-top: 0px;
}


 
  .lista{
        flex-direction: column;
        align-items: center;
        width: 100%;
  }

  .formulario{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }


}
